* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

/*---Titulos(h2)---*/

.titulosh2 {
    font-size: 1.8rem;
    font-style: oblique;
    text-decoration: underline;
    text-align: center;
    padding: 20px;
}

/*---Header---*/

.header {
    background-color: #07a837;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav ul {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}



.marca__imagen {
    width: 100px;
    margin-top: 10px;
}

.marca__title {
    font-size: 1.8rem;
    color: rgb(255, 251, 212);
}

.navbar__lista {
    padding: 10px;
    text-align: justify;
}

.navbar__item a {
    color:  rgb(255, 251, 212);
    font-size: 0.8rem;
    padding: 3px;
}


@media (min-width:1200px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    header nav ul {
        flex-direction: column;
        width: 200px;



    }

    .marca__imagen {
        width: 300px;
    }

    .marca__title {
        font-size: 4rem;
    }

    .navbar__item a {
        color:  rgb(255, 251, 212);
        font-size: 1.5rem;

    }

    .navbar__item :hover {
        color: rgb(255, 102, 0);
    }
}

/*---Main---*/
.main {
    background-color: yellow;
}



/*--footer--*/

.footer {
    display: flex;
    flex-direction: column;
    background-color: #07a837;
    align-items: center;

}

footer nav ul li {
    display: inline-block;
    padding: 10px;
    align-items: baseline;
}

footer nav ul li a {
    font-size: 1.1rem;
    color: rgb(255, 251, 212);
    font-style: oblique;
    text-decoration: underline;
}

.redes {
    padding: 10px;
}

.redes a {
    color: yellow;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 20px;
}

/*--Galeria--*/

.galeria {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

@media (min-width: 1200px) {
    .galeria {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: baseline;
    }

}

.galeria__caja {
    width: 350px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #07a837;
    text-align: center;
    gap: 10px;

}

.galeria__imagen {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition-duration: 0.2s;
}
.galeria__imagen:hover{
    transform: scale(1.2);
    box-shadow: 5px 10px 40px black; 
}



/*--Contacto--*/
.formContacto {
    width: fit-content;
    height: fit-content;
    padding: 20px 30px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: #07a837;
}

.formTituloContacto {
    text-align: center;
    height: 40px;
    margin-bottom: 10px;
    font-size: 2rem;
    color:  rgb(255, 251, 212);
}

.formContactoInput {
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid black;
    padding: 10px;
}

.formContactoTextArea {
    width: 100%;
    border: 1px solid black;
}

.formContactoBoton {
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
}

.formContactoLabel {
    margin: 15px 0px 15px 0px;
}


/*--Mapa--*/
.mapaContenedor {
    background-color: yellow;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    }

.mapaIframe {
    margin: 30px;
    border-left: 500px;
    box-shadow: 5px 10px 40px black;
}



/*--Nosotros--*/
.sectionQuienes {
    font-size: 1.2rem;
    padding: 100px;
}